:root {
  --primary-background-dark: #001f3f;
  --primary-text-light: white;
  --secondary-background-dark: #37363d;
  --secondary-text-dark: black;
}

.App {
  height: 100vh;
}

.homepage {
  width: 50%;
  height: 70vh;
  background-color: #91c8e4;
}

.search-bar {
  width: 12rem;
  height: 1.5rem;
}

.status-container {
  width: 95%;
  height: 120px;
}

.status-left {
  width: 60%;
  background-color: #91c8e4;
  height: 100px;
}

.status-right {
  width: 40%;
  background-color: #91c8e4;
  height: 100px;
}

.days {
  width: 95%;
  height: 150px;
}

/* Themes Styless  */

body.dark {
  background-color: var(--primary-background-dark);
  color: var(--primary-text-light);
}

.homepage.dark {
  background-color: var(--secondary-background-dark);
  color: var(--primary-text-light);
}
